# Python
__pycache__/
*.py[codz]
venv/
.env
*.egg-info/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
*.iml
pubspec.lock

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Temp
/temp/
